################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bin/Debug/BiuBiuBiu.vshost.exe.manifest
/packages/System.Data.SQLite.EF6.1.0.108.0/tools/net46/install.ps1
/packages/System.Data.SQLite.EF6.1.0.108.0/tools/net451/install.ps1
/packages/System.Data.SQLite.EF6.1.0.108.0/tools/net45/install.ps1
/packages/System.Data.SQLite.EF6.1.0.108.0/tools/net40/install.ps1
/packages/System.Data.SQLite.EF6.1.0.108.0/System.Data.SQLite.EF6.1.0.108.0.nupkg
/packages/System.Data.SQLite.EF6.1.0.108.0/lib/net46/System.Data.SQLite.EF6.dll
/packages/System.Data.SQLite.EF6.1.0.108.0/lib/net451/System.Data.SQLite.EF6.dll
/packages/System.Data.SQLite.EF6.1.0.108.0/lib/net45/System.Data.SQLite.EF6.dll
/packages/System.Data.SQLite.EF6.1.0.108.0/lib/net40/System.Data.SQLite.EF6.dll
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net46/web.config.transform
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net46/web.config.install.xdt
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net46/app.config.transform
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net46/app.config.install.xdt
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net451/web.config.transform
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net451/web.config.install.xdt
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net451/app.config.transform
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net451/app.config.install.xdt
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net45/web.config.transform
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net45/web.config.install.xdt
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net45/app.config.transform
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net45/app.config.install.xdt
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net40/web.config.transform
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net40/web.config.install.xdt
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net40/app.config.transform
/packages/System.Data.SQLite.EF6.1.0.108.0/content/net40/app.config.install.xdt
/packages/System.Data.SQLite.EF6.1.0.108.0/.signature.p7s
/packages/Newtonsoft.Json.11.0.2/Newtonsoft.Json.11.0.2.nupkg
/packages/Newtonsoft.Json.11.0.2/LICENSE.md
/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/.signature.p7s
/packages/MahApps.Metro.1.6.5/MahApps.Metro.1.6.5.nupkg
/packages/MahApps.Metro.1.6.5/lib/net47/MahApps.Metro.xml
/packages/MahApps.Metro.1.6.5/lib/net47/MahApps.Metro.pdb
/packages/MahApps.Metro.1.6.5/lib/net47/MahApps.Metro.dll
/packages/MahApps.Metro.1.6.5/lib/net46/MahApps.Metro.xml
/packages/MahApps.Metro.1.6.5/lib/net46/MahApps.Metro.pdb
/packages/MahApps.Metro.1.6.5/lib/net46/MahApps.Metro.dll
/packages/MahApps.Metro.1.6.5/lib/net45/MahApps.Metro.xml
/packages/MahApps.Metro.1.6.5/lib/net45/MahApps.Metro.pdb
/packages/MahApps.Metro.1.6.5/lib/net45/MahApps.Metro.dll
/packages/MahApps.Metro.1.6.5/lib/net40/MahApps.Metro.xml
/packages/MahApps.Metro.1.6.5/lib/net40/MahApps.Metro.pdb
/packages/MahApps.Metro.1.6.5/lib/net40/MahApps.Metro.dll
/packages/MahApps.Metro.1.6.5/.signature.p7s
/packages/EntityFramework.6.0.0/tools/migrate.exe
/packages/EntityFramework.6.0.0/tools/install.ps1
/packages/EntityFramework.6.0.0/tools/init.ps1
/packages/EntityFramework.6.0.0/tools/EntityFramework.psm1
/packages/EntityFramework.6.0.0/tools/EntityFramework.psd1
/packages/EntityFramework.6.0.0/tools/EntityFramework.PowerShell.Utility.dll
/packages/EntityFramework.6.0.0/tools/EntityFramework.PowerShell.dll
/packages/EntityFramework.6.0.0/tools/about_EntityFramework.help.txt
/packages/EntityFramework.6.0.0/lib/net45/EntityFramework.xml
/packages/EntityFramework.6.0.0/lib/net45/EntityFramework.SqlServer.xml
/packages/EntityFramework.6.0.0/lib/net45/EntityFramework.SqlServer.dll
/packages/EntityFramework.6.0.0/lib/net45/EntityFramework.dll
/packages/EntityFramework.6.0.0/lib/net40/EntityFramework.xml
/packages/EntityFramework.6.0.0/lib/net40/EntityFramework.SqlServer.xml
/packages/EntityFramework.6.0.0/lib/net40/EntityFramework.SqlServer.dll
/packages/EntityFramework.6.0.0/lib/net40/EntityFramework.dll
/packages/EntityFramework.6.0.0/EntityFramework.6.0.0.nupkg
/packages/EntityFramework.6.0.0/Content/Web.config.transform
/packages/EntityFramework.6.0.0/Content/App.config.transform
/packages/EntityFramework.6.0.0/.signature.p7s
/packages/ControlzEx.3.0.2.4/lib/net462/System.Windows.Interactivity.dll
/packages/ControlzEx.3.0.2.4/lib/net462/ControlzEx.pdb
/packages/ControlzEx.3.0.2.4/lib/net462/ControlzEx.dll
/packages/ControlzEx.3.0.2.4/lib/net45/System.Windows.Interactivity.dll
/packages/ControlzEx.3.0.2.4/lib/net45/ControlzEx.pdb
/packages/ControlzEx.3.0.2.4/lib/net45/ControlzEx.dll
/packages/ControlzEx.3.0.2.4/lib/net40/System.Windows.Interactivity.dll
/packages/ControlzEx.3.0.2.4/lib/net40/ControlzEx.pdb
/packages/ControlzEx.3.0.2.4/lib/net40/ControlzEx.dll
/packages/ControlzEx.3.0.2.4/ControlzEx.3.0.2.4.nupkg
/packages/ControlzEx.3.0.2.4/.signature.p7s
/obj/Debug/WpfApplication2.Properties.Resources.resources
/obj/Debug/View/SetGroupNameView.g.i.cs
/obj/Debug/View/SetGroupNameView.g.cs
/obj/Debug/View/SetGroupNameView.baml
/obj/Debug/View/MainView.g.i.cs
/obj/Debug/View/MainView.g.cs
/obj/Debug/View/MainView.baml
/obj/Debug/View/LoadView.g.i.cs
/obj/Debug/View/LoadView.g.cs
/obj/Debug/View/LoadView.baml
/obj/Debug/View/HelpView.g.i.cs
/obj/Debug/View/HelpView.g.cs
/obj/Debug/View/HelpView.baml
/obj/Debug/View/EditView.g.i.cs
/obj/Debug/View/EditView.g.cs
/obj/Debug/View/EditView.baml
/obj/Debug/RunForm.g.i.cs
/obj/Debug/RunForm.g.cs
/obj/Debug/RunForm.baml
/obj/Debug/Pon.csprojResolveAssemblyReference.cache
/obj/Debug/Pon.csproj.GenerateResource.Cache
/obj/Debug/Pon.csproj.FileListAbsolute.txt
/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/obj/Debug/GeneratedInternalTypeHelper.g.cs
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/CommandManager.g.i.cs
/obj/Debug/CommandManager.g.cs
/obj/Debug/CommandManager.baml
/obj/Debug/BiuBiuBiu_MarkupCompile.lref
/obj/Debug/BiuBiuBiu_MarkupCompile.i.cache
/obj/Debug/BiuBiuBiu_MarkupCompile.cache
/obj/Debug/BiuBiuBiu_Content.g.i.cs
/obj/Debug/BiuBiuBiu_Content.g.cs
/obj/Debug/BiuBiuBiu.pdb
/obj/Debug/BiuBiuBiu.g.resources
/obj/Debug/BiuBiuBiu.exe
/obj/Debug/App.g.i.cs
/obj/Debug/App.g.cs
/obj/Debug/App.baml
/bin/Debug/zh-Hant/Microsoft.Expression.Interactions.resources.dll
/bin/Debug/zh-Hans/System.Net.Http.resources.dll
/bin/Debug/zh-Hans/Microsoft.Expression.Interactions.resources.dll
/bin/Debug/System.Windows.Interactivity.dll
/bin/Debug/System.Net.Http.dll
/bin/Debug/Newtonsoft.Json.xml
/bin/Debug/Newtonsoft.Json.dll
/bin/Debug/Microsoft.Expression.Interactions.xml
/bin/Debug/Microsoft.Expression.Interactions.dll
/bin/Debug/MahApps.Metro.pdb
/bin/Debug/MahApps.Metro.dll
/bin/Debug/ko/Microsoft.Expression.Interactions.resources.dll
/bin/Debug/ja/Microsoft.Expression.Interactions.resources.dll
/bin/Debug/it/Microsoft.Expression.Interactions.resources.dll
/bin/Debug/fr/Microsoft.Expression.Interactions.resources.dll
/bin/Debug/es/Microsoft.Expression.Interactions.resources.dll
/bin/Debug/en/Microsoft.Expression.Interactions.resources.dll
/bin/Debug/de/Microsoft.Expression.Interactions.resources.dll
/bin/Debug/DataBase/DB.sl3
/bin/Debug/ControlzEx.pdb
/bin/Debug/ControlzEx.dll
/bin/Debug/BiuBiuBiu.vshost.exe.config
/bin/Debug/BiuBiuBiu.vshost.exe
/bin/Debug/BiuBiuBiu.pdb
/bin/Debug/BiuBiuBiu.exe.config
/bin/Debug/BiuBiuBiu.exe
/bin/Debug/bin/Debug/V.ico
/bin/Debug/bin/Debug/ico/O.ico
/.vs/WpfApplication2/v14/.suo
/.vs
/obj
